.header{
    margin-top: 40px;
    text-align: center;
}
.header1{
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 20px;
}
.header2{
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
}
.navbar ul li{
    list-style: none;
    display: inline;
    cursor: pointer;
    margin: 5vw 5vw;
}
.toggle{
    display: none;
}
hr{
    background-color: tomato;
    height: 0.5px;
}

@media screen and (min-width:300px) and (max-width:800px){
    .header{
        margin-top: 10px;
    }
    .toggle{
        display: block;
        right:40px;
        top: 25px;
        position: absolute;
    }
    .navbar ul li{
        list-style: none;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .navbar ul{
        position: relative;
    }
    .navlink{
        margin-left: 10px;
        width: 100%;
        display: none;
    }
    .ham{
        height: 38px;
    }
}