.auth{
    background-color: rgb(245, 248, 248);
    margin:40px auto;
    width: 50%;
    text-align: center;
}
.link{
    text-decoration: none;
}
.authBtn{
    width: 150px;
    font-size: 20px;
    padding: 15px 15px;
    background-color: tomato;   
    color: white;
    border: none;
}
.authBtn:hover{
    cursor: pointer;
}